.container{
    text-align: center;
    justify-content: center;
    padding: 50px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    
}

#add{
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

#update{
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

#box{
    margin-left: 300px;
    margin-right: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.table-container{
    border: 1px solid black;
    border-collapse: collapse;
    width: 280px;
    text-align: right;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
